img {
  height: 265px;
  width: 300px;

}
.index{
  display: inline-block;
  justify-content: space-around;
}

.banner {
  height: 300px;
  width: 900px;
  background-image: url("http://www.hopescookies.com/assets/images/slides/Hopescookies_banner_0729_940x311.jpg");
  background-size: cover;
  position: relative;
}

textarea {
  width: 560px;
  height: 144px;
}
