html{
  background-image: url("https://www.grainchain.com/sites/default/files/flour-baking-background-with-egg,-rolling-pin-and-wheat-ear-000069728007_Medium_3.jpg");
  background-size: cover;
}
.banner{
  width: 1000px;
  background-image: url("http://www.culturedpearl.us/sites/culturedpearl.us/files/images/banner-1-desserts.jpg");
  background-repeat: no-repeat;
}
.title h1{
  text-align: center;
  font-family: "Arial", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.startbaking, .addnew{
  text-align: center;
  margin: 10px;
}

.startbaking button, .addnew button{
  height: 80px;
  width: 200px;
  background-color: white;
  font-size: 20px;

}


.body {
  width: 1000px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  background: #ffe5eb;
}

#search{
  width: 350px;
  height: 20px;
  margin-top: 20px;
  border: 2px solid black;
}

.index img{
  height: 210px;
  width: 280px;
  border-radius: 25%;
  padding: 10px;
}



img.img{
  background-size: auto;
}
.index{
  display: inline-block;
  justify-content: space-around;
}

.banner {
  height: 300px;
  width: 900px;
  position: relative;
}

textarea {
  width: 560px;
  height: 144px;
}

.newrecipe{
  text-align: center;
}
.newrecipe input{
  text-align: center;
}
.newrecipe button, .showpage button{
  background-color: #4caf50;
  padding: 15px 32px;
  color: white;
  font-size: 15px;
}

.ingredient h2{
  text-decoration: underline;
}
.direction h2{
  text-decoration: underline;
}
label{
  font-size: 20px;
}

input{
  margin: 10px;
}
.box{
  width: 520px;
  height:100px;
}

#name{
  width: 520px;
  height:20px;
}


.time{
  width: 100px;
}

input{
  border: 1px solid #8f9190;
}

.singleRecipe{
  width: 1000px;
  margin: auto;
}

.picture{
  float: right;
}

#singleImg{
  width: 500px;
  height: 300px;
}

.nameDesc{
  text-align: center;
  width:400px;
}
.nameDesc h1 {
  color: blue;
  font-variant: small-caps;
}
.nameDesc p{
  line-height: 200%;
  font-size: 18px;
}
.ingredient{
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
}
.direction, .picture img, .nameDesc, .timebox{
  box-shadow: 10px 10px 5px grey;

}
.timebox{
  display:flex;
  flex-direction: row;
  height: 70px;
  width: 250px;
}
.timebox img{
  height: 50px;
  width: 50px;
}
.timebox p{
  margin: 0px;
}

.prep, .cook{
  padding: 10px;
}

.timebox, .nameDesc, .direction{
  background-color: white;
}
