<!-- <form>
  <input type="text" ng-model= "vm.recipe.name" /><br>
  <input type="text" ng-model= "vm.recipe.desc" /><br>
  <input type="text" ng-model="vm.recipe.img"><br>
  <input type="text" ng-model= "vm.recipe.preptime" /><br>
  <input type="text" ng-model= "vm.recipe.cooktime" /><br>
  <textarea ng-model= "vm.recipe.ingredient"></textarea><br>
  <textarea ng-model= "vm.recipe.direction"></textarea><br>
  <button data-ng-click="vm.update()"> Edit</button>
</form> -->

<div class="blank">

</div>
<div class="newrecipe">
<form>
  <label>Recipe Title</label><br>
  <input   type="text" ng-model="vm.recipe.name"  /><br>
  <label>Description</label><br>
  <textarea class="box"  type="text" required ng-model="vm.recipe.desc" /></textarea><br>

  <div class="abc">

  <label>Prep Time</label><br>
  <input class="time" type="text" ng-model="vm.recipe.preptime" /><br>
  <label>Cook Time</label><br>
  <input class="time"  type="text" ng-model="vm.recipe.cooktime" /><br>
</div>

  <label>Ingredients</label><br>
  <textarea class="box"  type="text" ng-model="vm.recipe.ingredient" placeholder="Put each ingredient in its own line"></textarea><br>
  <label>Directions</label><br>
  <textarea class="box"  type="text" ng ng-model="vm.recipe.direction" placeholder="Put each step in its own line"></textarea><br>
  <label>Photo</label>
  <input  type="text" ng-model="vm.recipe.img" placeholder="Add Image Link"><br>
  <button type="button" data-ng-click="vm.update()">Edit this Recipe</button>
</form>

</div>
