
<div class="newrecipe">
<form>
  <label>Recipe Title</label><br>
  <input  id="name" type="text" data-ng-model="vm.newRecipe.name"  /><br>
  <label>Description</label><br>
  <textarea class="box" id="desc" type="text" required data-ng-model="vm.newRecipe.desc" /></textarea><br>

  <div class="abc">
  <label>Prep Time</label><br>
  <input class="time" id="preptime" type="text" data-ng-model="vm.newRecipe.preptime" /><br>
  <label>Cook Time</label><br>
  <input class="time" id="cooktime" type="text" data-ng-model="vm.newRecipe.cooktime" /><br>
  </div>

  <label>Ingredients</label><br>
  <textarea class="box" id="ingredient" type="text" data-ng-model="vm.newRecipe.ingredient" placeholder="Put each ingredient in its own line"></textarea><br>
  <label>Directions</label><br>
  <textarea class="box" id="direction" type="text" ng data-ng-model="vm.newRecipe.direction" placeholder="Put each step in its own line"></textarea><br>
  <label>Photo</label>
  <input id="img" type="text" data-ng-model="vm.newRecipe.img" placeholder="Add Image Link"><br>
  <button type="button" data-ng-click="vm.create()"> Create</button>
</form>

</div>
