<div ng-if="vm.recipe">
  <img src="{{vm.recipe.img}}" alt="{{vm.recipe.img}}" />
  <h2>{{vm.recipe.name}}</h2>
  <p>{{vm.recipe.desc}}</p>
<h3>Prep Time:</h3>
 <p>
   {{vm.recipe.preptime}}
 </p>
 <h3>Cook Time:</h3>
  <p>
    {{vm.recipe.cooktime}}
  </p>
<h3>Ingredients:</h3>
<ul data-ng-repeat= " ingredient in vm.recipe.ingredient"}}>

  <p><li><input type="checkbox" ng-click=saveIngredient() >{{ingredient}}</li></p>
</ul>
<h3>Directions</h3>
<ul data-ng-repeat= " direction in vm.recipe.direction"}}>
  <p><li>{{direction}}</li></p>
</ul>

<button data-ng-click="vm.destroy()">Delete this Recipe</button>
</div>

<div class="grocerylist">

</div>
